.container {
    display: flex;
    margin: 0px;
    background-color: #1F2937;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between; 
    gap: 25px;
    margin-left: 10em;
    margin-right: 10em;
    flex-basis: 100%;
}

.links {
    display: flex;
    justify-self: flex-end;
    gap: 15px;
}

.header_text {
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #E5e7eb;
    flex-basis: 45%;
    max-width: 50ch;
    align-content: center;
}

.header_img {
    display: flex;
    height: 250px;
    width: 400px;
    justify-self: flex-end;

}

.logo {
    height: 50px;
    width: 50px;
}

a {
    font-size: 18px;
    color: #E5e7eb;
    text-decoration: none;
}

p {
    font-size: 18px;
    color: #E5e7eb;
    margin-top: 0px;

}

h1 {
    margin-bottom: 0px;
}

input {
    background-color: #3882f6;
    border-radius: 10px;
    width: 150px;
    color: #E5e7eb;

}
